*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container-fluid, .container{
  overflow: hidden;
}
.header{
  color: lightskyblue;
}
.form-row{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.amount-col, .from-currency-col, .to-currency-col, .arrow-col{
  display: flex;
  margin: 10px 6px;
  flex-direction: column;
}
.arrow-col{
  flex-basis: 10%;
}
.amount-col, .from-currency-col, .to-currency-col{
  flex-basis: 30%;
}
.arrow{
  display: flex;
  color: white;
  width: 80%;
  background-color: lightskyblue;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  align-self: center;
}
label{
  text-align: start;
}
input, select{
  width: 100%;
  outline: none;
  border: 1px lightskyblue solid;
  padding: 0 10px;
  background-color: white;
}
input, select, .arrow{
  height: 40px;
}

/* Remove arrow up and down from input */
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none; 
  margin: 0;
}

p, h4{
  text-align: justify;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
select{
  background: rgb(255, 255, 255);
  color: black;
  overflow: visible;
  margin-bottom: 0;
}
.results-container{
  flex-direction: row;
  align-items: center;
}
option{
  display: block;
  width: 40px;
}

.results-container-1, .results-container-3{
  word-wrap: break-word;
  word-break: break-all;
}

.exchange-span-1, .exchange-span-2{
  flex-basis: 40%;
}
.exchange-span-2{
  justify-content: flex-end;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 700px) {

  .form-row{
    flex-direction: column;
    width: 100%;
  }
  .amount-col, .from-currency-col, .to-currency-col, .arrow-col{
    width: 100%;
  }
  .arrow-col label{
    display: none;
  }
  .arrow{
    width: 100%;
  }
  .results-container{
    justify-content: flex-start;
    align-items: flex-start;
    /* flex-direction: column; */
  }
  p, h4{
    font-size: 0.85rem;
    text-align: justify;
  }
  option, select, label, input{
    font-size: 0.85rem;
  }
  .results-container span, .results-container div{
    font-size: 0.9rem
  }
  input, select, .arrow{
    height: 32px;
  }
  .results-container{
    flex-direction: row;
    align-items: center;
  }
  .header{
    font-size: 1.3rem;
  }
}