*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

#documentation{
  background-color: black;
}
.documentation-container{
  display: flex;
  flex-wrap: wrap;
}
.documentation-container .col{
  flex-basis: 25%;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.accordion-button:not(.collapsed), .accordion-button:not(.collapsed):focus  {
  box-shadow: rgb(0 0 0 / 0%) 0px 0px 0px;
  background-color: rgb(70, 70, 218);
  border: none;
  color: white;
}

.container-fluid, .container, .container-lg{
  overflow: hidden;
}
.header{
  color: rgb(70, 70, 218);;
}
.form-row{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.amount-col, .from-currency-col, .to-currency-col, .arrow-col{
  display: flex;
  margin: 10px 6px;
  flex-direction: column;
}
.arrow-col{
  flex-basis: 10%;
}
.amount-col, .from-currency-col, .to-currency-col{
  flex-basis: 30%;
}
.arrow{
  display: flex;
  color: white;
  width: 80%;
  background-color: rgb(70, 70, 218);
  align-items: center;
  justify-content: center;
  cursor: pointer;
  align-self: center;
}
label{
  text-align: start;
}
input, select{
  width: 100%;
  outline: none;
  border: 1px lightskyblue solid;
  padding: 0 10px;
  background-color: white;
}
input, select, .arrow{
  height: 40px;
}

/* Remove arrow up and down from input */
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none; 
  margin: 0;
}

p, h4{
  text-align: justify;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
select{
  background: rgb(255, 255, 255);
  color: black;
  overflow: visible;
  margin-bottom: 0;
}
.results-container{
  flex-direction: row;
  align-items: center;
}
option{
  display: block;
  width: 40px;
}

.results-container-1, .results-container-3{
  word-wrap: break-word;
  word-break: break-all;
}

.exchange-span-1, .exchange-span-2{
  flex-basis: 40%;
}
.exchange-span-2{
  justify-content: flex-end;
}
.currency-information h4{
  border-bottom: 4px solid rgb(201, 194, 194);
}
.information, .traveller-cheatsheet, .exchange-information{
  background: black;
  color: white;
}
.table-container{
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  align-items: center;
}
.table-col{
  font-size: 0.8rem;
  color: white;
  text-align: center;
  background-color: rgb(11, 6, 6);
  border-radius: 1%;
  margin: 10px 0;
  width: 49%;
}
.button{
  background-color: rgb(70, 70, 218);
  color: whitesmoke;
  width: 85px;
  font-size: 1rem;
  
}
.button:hover{
  background-color: rgb(0, 204, 255);
  color: white;
  transition: ease-in-out 2s;
}

.fa-angle-double-right{
  color: rgb(70, 70, 218);
}
tr{
  color: white;
}
.accordion-item{
  margin: 20px 0;
}
.accordion-button{
  background: rgb(70, 70, 218);
  border: none;
}
.accordion-header button{
  color: white;
}
li {
  list-style: none;
}
li a{
  text-decoration: none;
  color: white;
  font-size: 1rem;
}
.documentation-container div span{
  font-size: 3rem;
}

#footer{
  background: rgb(70, 70, 218);
}
/* MEDIA QUERIES */

@media only screen and (max-width: 700px) {
  .form-row{
    flex-direction: column;
    width: 100%;
  }
  .amount-col, .from-currency-col, .to-currency-col, .arrow-col{
    width: 100%;
  }
  .arrow-col label{
    display: none;
  }
  .arrow{
    width: 100%;
  }
  .fa-exchange-alt{
    font-size: 1.2rem;
  }
  .results-container{
    justify-content: flex-start;
    align-items: flex-start;
    /* flex-direction: column; */
  }
  p, h4{
    font-size: 0.85rem;
    text-align: justify;
  }
  option, select, label, input, .accordion-body{
    font-size: 0.85rem;
  }
  .results-container span, .results-container div{
    font-size: 0.9rem
  }
  input, select, .arrow{
    height: 35px;
  }
  .results-container{
    flex-direction: row;
    align-items: center;
  }
  .header{
    font-size: 1.7rem;
  }
  .table-container{
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .table-col{
    width: 48%;
  }

  td{
    font-size: 0.7rem;
  }
  td i{
    font-size: 0.4rem;
  }
  li a{
    font-size: 0.88rem;
  }
  .documentation-container .col{
    flex-basis: 30%;
  } 
  .documentation-container .col span{
    font-size: 2rem;
  } 
}